AI_Content_Generator.json
{
  "name": "AI Content Generator — Video & Image",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "leftValue": "={{ $json.Status }}",
                "rightValue": "pending",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "options": {}
      },
      "id": "read-pending-prompts",
      "name": "Get Pending Prompts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — CONFIGURE ME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "content-type-check",
              "leftValue": "={{ $json['Content Type'] }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route-content-type",
      "name": "Is Video or Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "processing"
          },
          "matchingColumns": ["Row ID"],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "mark-processing-video",
      "name": "Mark Processing (Video)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — CONFIGURE ME"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "processing"
          },
          "matchingColumns": ["Row ID"],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "mark-processing-image",
      "name": "Mark Processing (Image)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — CONFIGURE ME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"YOUR_AVATAR_ID\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Get Pending Prompts').item.json['Mandarin Script'] }}\",\n        \"voice_id\": \"YOUR_MANDARIN_VOICE_ID\",\n        \"speed\": 1.0\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#FFFFFF\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"aspect_ratio\": \"9:16\"\n}",
        "options": {}
      },
      "id": "heygen-generate-video",
      "name": "HeyGen — Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "HeyGen API Key — CONFIGURE ME"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-video",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1320, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $('HeyGen — Generate Video').item.json.data.video_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "heygen-check-status",
      "name": "HeyGen — Check Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "HeyGen API Key — CONFIGURE ME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "video-status-check",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-video-ready",
      "name": "Is Video Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "download-url-video",
              "name": "Download Link",
              "value": "={{ $json.data.video_url }}",
              "type": "string"
            },
            {
              "id": "row-id-video",
              "name": "Row ID",
              "value": "={{ $('Get Pending Prompts').item.json['Row ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-video-url",
      "name": "Extract Video Download URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1980, 80]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "prompt": "=A professional, high-quality photograph of a Malaysian Chinese person in a modern office or professional setting, explaining or presenting something. The person should look friendly and trustworthy. Vertical portrait orientation (9:16 aspect ratio). Clean, well-lit environment. The topic is: {{ $('Get Pending Prompts').item.json['Mandarin Script'] }}",
        "additionalFields": {
          "size": "1024x1792"
        }
      },
      "id": "dalle-generate-image",
      "name": "DALL-E 3 — Generate Image",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [1100, 460],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API Key — CONFIGURE ME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "download-url-image",
              "name": "Download Link",
              "value": "={{ $json.data[0].url || $json.url }}",
              "type": "string"
            },
            {
              "id": "row-id-image",
              "name": "Row ID",
              "value": "={{ $('Get Pending Prompts').item.json['Row ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-image-url",
      "name": "Extract Image Download URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 460]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "completed",
            "Download Link": "={{ $json['Download Link'] }}"
          },
          "matchingColumns": ["Row ID"],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Download Link",
              "displayName": "Download Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-sheet-completed",
      "name": "Update Sheet — Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — CONFIGURE ME"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "failed",
            "Download Link": "Generation failed. Please retry."
          },
          "matchingColumns": ["Row ID"],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Download Link",
              "displayName": "Download Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-sheet-failed",
      "name": "Update Sheet — Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1980, 280],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — CONFIGURE ME"
        }
      }
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Prompts": {
      "main": [
        [
          {
            "node": "Is Video or Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video or Image?": {
      "main": [
        [
          {
            "node": "Mark Processing (Video)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Processing (Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processing (Video)": {
      "main": [
        [
          {
            "node": "HeyGen — Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processing (Image)": {
      "main": [
        [
          {
            "node": "DALL-E 3 — Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen — Generate Video": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "HeyGen — Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen — Check Video Status": {
      "main": [
        [
          {
            "node": "Is Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video Ready?": {
      "main": [
        [
          {
            "node": "Extract Video Download URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video Download URL": {
      "main": [
        [
          {
            "node": "Update Sheet — Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALL-E 3 — Generate Image": {
      "main": [
        [
          {
            "node": "Extract Image Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Download URL": {
      "main": [
        [
          {
            "node": "Update Sheet — Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Content",
      "createdAt": "2026-03-26T00:00:00.000Z",
      "updatedAt": "2026-03-26T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-26T00:00:00.000Z",
  "versionId": "1"
}
